/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#typedtext {
    font-family: 'Roboto';
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: bold;
    transform: translate(50px, -100px);
}

/* first screen have text in center, background black */
.firstScreen {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#startButton {
    opacity: 0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    position: absolute;
    animation: wiggle 1s linear infinite;
    font-weight: 600;
    /* left: calc(50% - 3em); */
    top: calc(50% + 10px);
    background: #000000;
    border: none;
    color: #fff;
    font-family: 'Roboto';
    font-size: 24px;
}

.dot {
    width: 15px;
    height: 15px;
    background: white;
    z-index: 1;
    border-radius: 50%;
    position: absolute;
    top: -5px;
}

.circle {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: orange;
    /* background: white; */
    margin: 10px;
    transition: 5s ease;
    position: absolute;
    top: -7px;
    left: -7.8px;
    z-index: -1;
}

.delay1 {
    -webkit-animation: waves 2.5s infinite;
    animation: waves 2.5s infinite;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.delay2 {
    -webkit-animation: waves 2.5s infinite 0.7s forwards;
    animation: waves 2.5s infinite 0.7s forwards;
}

.delay3 {
    -webkit-animation: waves 2.5s infinite 1.3s forwards;
    animation: waves 2.5s infinite 1.3s forwards;
}

.delay4 {
    -webkit-animation: waves 2.5s infinite 1.9s forwards;
    animation: waves 2.5s infinite 1.9s forwards;
}

@keyframes waves {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(4);
        opacity: 0;
    }
}

.hoverClickScreen2 {
    color: white;
}

.hoverClickScreen2:hover {
    cursor: pointer;
    color: orange !important;
}

.buttonClickScr2 {
    position: relative;
    top: 25px;
    left: -12px;
    font-weight: bold;
    font-size: 22px;
}

.dot1 {
    position: relative;
    top: 4.1em;
    left: 13em;
}

.dot2 {
    position: relative;
    top: 3.6em;
    left: 26em;
}

.dot3 {
    position: relative;
    top: -1.55em;
    left: 37em;
}

.dot4 {
    position: relative;
    top: -7.1em;
    left: 45.2em;
}

.dot5 {
    position: relative;
    top: 0.4em;
    left: 56em;
}

.dot6 {
    position: relative;
    top: 7.2em;
    left: 62em;
}

.dot7 {
    position: relative;
    top: 12.6em;
    left: 72em;
}

.dot8 {
    position: relative;
    top: 7.8em;
    left: 79.5em;
}

.imageScr2 {
    width: 250px;
    border-radius: 50%;
    height: 250px;
    object-fit: cover;
    position: relative;
    border: solid rgb(209, 180, 13);
}

.titleAndImg {
    position: relative;
    transform: translateX(-45%);
    top: -340px;
    width: 250px;
}

.titleAndImg1 {
    position: relative;
    transform: translateX(-45%);
    top: -380px;
    width: 250px;
}

.titleImgScr2 {
    font-size: 26px;
    position: relative;
    margin: 0;
    transform: translateX(10%);
    font-weight: bold;
}

@media screen and (max-width: 1680px) {
    .titleAndImg {
        position: relative;
        width: 200px;
        top: -285px;
        transform: translateX(-47%);
    }

    .titleAndImg1 {
        position: relative;
        transform: translateX(-38%);
        top: -320px;
        width: 250px;
    }

    .titleAndImg2{
        position: relative;
        transform: translateX(-37%);
        top: -280px;
        width: 250px;
    }

    .titleImgScr2-1{
        font-size: 24px;
        position: relative;
        margin: 0;
        font-weight: bold;
        left: -45px !important;
    }

    .titleImgScr2 {
        font-size: 24px;
        position: relative;
        margin: 0;
        font-weight: bold;
        left: -10px;
    }

    .imageScr2 {
        width: 200px;
        height: 200px;
        object-fit: cover;
        position: relative;
        border: solid rgb(209, 180, 13);
    }

    .dot1 {
        position: relative;
        top: 4.1em;
        left: 13em;
    }

    .dot2 {
        position: relative;
        top: 3.3em;
        left: 25.9em;
    }

    .dot3 {
        position: relative;
        top: -2.1em;
        left: 37em;
    }

    .dot4 {
        position: relative;
        top: -7.7em;
        left: 44.9em;
    }

    .dot5 {
        position: relative;
        top: -1.5em;
        left: 55em;
    }

    .dot6 {
        position: relative;
        top: 6.1em;
        left: 62em;
    }

    .dot7 {
        position: relative;
        top: 11.2em;
        left: 72em;
    }

    .dot8 {
        position: relative;
        top: 6.6em;
        left: 79.1em;
    }
}

@media screen and (max-width: 1600px) {}



/* how to get height of image */
/* https://stackoverflow.com/questions/318630/get-real-image-width-and-height-with-javascript-in-chrome */