/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#typedtext {
    font-family: 'Roboto';
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: bold;
    transform: translate(50px, -100px);
}

/* first screen have text in center, background black */
.firstScreen {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#startButton {
    opacity: 0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    position: absolute;
    animation: wiggle 1s linear infinite;
    font-weight: 600;
    /* left: calc(50% - 3em); */
    top: calc(50% + 10px);
    background: #000000;
    border: none;
    color: #fff;
    font-family: 'Roboto';
    font-size: 24px;
}

.dot {
    width: 15px;
    height: 15px;
    background: white;
    z-index: 1;
    border-radius: 50%;
    position: absolute;
    top: -5px;
}

.circle {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: orange;
    /* background: white; */
    margin: 10px;
    transition: 5s ease;
    position: absolute;
    top: -7px;
    left: -7.8px;
    z-index: -1;
}

.delay1 {
    -webkit-animation: waves 2.5s infinite;
    animation: waves 2.5s infinite;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.delay2 {
    -webkit-animation: waves 2.5s infinite 0.7s forwards;
    animation: waves 2.5s infinite 0.7s forwards;
}

.delay3 {
    -webkit-animation: waves 2.5s infinite 1.3s forwards;
    animation: waves 2.5s infinite 1.3s forwards;
}

.delay4 {
    -webkit-animation: waves 2.5s infinite 1.9s forwards;
    animation: waves 2.5s infinite 1.9s forwards;
}

@-webkit-keyframes waves {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(4);
        opacity: 0;
    }
}

.hoverClickScreen2 {
    color: white;
}

.hoverClickScreen2:hover {
    cursor: pointer;
    color: orange !important;
}

.titleImgScr2 {
    font-size: 26px;
    position: relative;
    margin: 0;
    transform: translateX(10%);
    font-weight: bold;
}

.buttonClickScr2 {
    position: relative;
    top: 25px;
    left: -12px;
    font-weight: bold;
    font-size: 22px;
}